# run in UTC
CRON_TZ=UTC

@reboot cd {{claymore_path}}/scripts && ./mine.sh

*/3 * * * * cd {{claymore_path}}/scripts && touch gpucheck.log && ./gpucheck.sh >> gpucheck.log 2>&1
0 23 * * * > {{claymore_path}}/scripts/gpucheck.log
0 23 * * * > {{claymore_path}}/scripts/m.log
0 23 * * * > {{claymore_path}}/scripts/remove_mining_fees_log.txt
